.container {
  border-radius: 8px;
  border: 1px solid #979b5a;
  color: inherit;
  background-color: white;
  padding: 8px;
}

.link {
  text-decoration: inherit;
  color: inherit;
}

.image {
  width: 100%;
  border-radius: 8px;
  border: #ffa41b 2px solid;
  padding: 4px;
}

.text {
  padding: 12px;
  font-size: 18px;
  display: flex;
  justify-content: space-between;
}

.title {
  font-weight: bold;
}

.price {
  color: #ffa41b;
}

.cBtn {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 8px;
}

.button {
  min-width: 40px;
  height: 40px;
  padding: 8px;
  border-radius: 8px;
  border: 2px solid #ffa41b;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3px;
  font-size: 12px;
  font-weight: bold;
  color: #ffa41b;
  background-color: white;
  cursor: pointer;
}

.desc {
  padding: 12px;
  font-size: 16px;
  width: 100%;
  background-color: #e5b26824;
  border: 1px solid #d5d4d2;
}